### Q1. Create one variable containing following type of data:
#### (i) string
#### (ii) list
#### (iii) float
#### (iv) tuple

In [1]:
s1="Aneek Saha"
print(type(s1))
s1

<class 'str'>

'Aneek Saha'

In [2]:
l1=[1,2,3,'ABC','XYZ','PQR']
print(type(l1))
l1

<class 'list'>

[1, 2, 3, 'ABC', 'XYZ', 'PQR']

In [3]:

f1=10.51
print(type(f1))
f1

<class 'float'>

10.51

In [4]:
t1=('Aneek','PW','Skills')
print(type(t1))
t1

<class 'tuple'>

('Aneek', 'PW', 'Skills')

### Q2. Given are some following variables containing data:
##### (i) var1 = ‘ ‘
##### (ii) var2 = ‘[ DS , ML , Python]’
##### (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
##### (iv) var4 = 1.
##### What will be the data type of the above given variable.

######
### Ans:
#### var1=' ' is containing a string, so data type is str.
#### var2 = ‘[ DS , ML , Python]’ is containing a string, so data type is str.
#### var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] is containing a list, so data type is list.
#### var4 = 1 is containing a integer, so data type is int.

In [5]:
var1 =''
print(type(var1))
var2 = '[ DS , ML , Python]'
print(type(var2))
var3 = ['Ds','ML' ,'Python']
print(type(var3))
var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

### Q3. Explain the use of the following operators using an example:
#### (i) /
#### (ii) %
#### (iii) //
 #### (iv) **

#####
### Ans:
#### (i) / is used for division
#### (ii) % is used to get modulus
#### (iii) // is used for floor division
#### (iv) ** is used to get exponentiation

In [6]:
# Example 

x=10
y=2
z=3
print(x/y)

print(x%z)

print(x//z)

print(y**z)

5.0
1
3
8

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [7]:
l1=[10,3.50,'ABC',False,3+2j,"Hello",100,86.7,3j,True]
for i in l1:
    print(type(i)," -> ",i)

<class 'int'>  ->  10
<class 'float'>  ->  3.5
<class 'str'>  ->  ABC
<class 'bool'>  ->  False
<class 'complex'>  ->  (3+2j)
<class 'str'>  ->  Hello
<class 'int'>  ->  100
<class 'float'>  ->  86.7
<class 'complex'>  ->  3j
<class 'bool'>  ->  True

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [17]:
A=int(input('Enter value of A: '))
B=int(input('Enter value of B: '))
count=0
while(A>=B):
    if(B==0):
        print('Wrong input')
        break
    elif A%B!=0:
        print('Not purely divisible')
        break
    else:
        A=A/B
        count+=1
if(count>0):
    print('A is purely divisible by B ',count,' times')

Enter value of A:  8
Enter value of B:  3

Not purely divisible

In [18]:
A=int(input('Enter value of A: '))
B=int(input('Enter value of B: '))
count=0
while(A>=B):
    if(B==0):
        print('Wrong input')
        break
    elif A%B!=0:
        print('Not purely divisible')
        break
    else:
        A=A/B
        count+=1
if(count>0):
    print('A is purely divisible by B ',count,' times')

Enter value of A:  16
Enter value of B:  2

A is purely divisible by B  4  times

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [1]:
l=[2,5,9,18,11,12,15,18,15,90,55,34,27,111,45,80,93,33,22,49,35,77,46,99,81]
for i in l:
    if(i%3==0):
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

2 is not divisible by 3
5 is not divisible by 3
9 is divisible by 3
18 is divisible by 3
11 is not divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
15 is divisible by 3
90 is divisible by 3
55 is not divisible by 3
34 is not divisible by 3
27 is divisible by 3
111 is divisible by 3
45 is divisible by 3
80 is not divisible by 3
93 is divisible by 3
33 is divisible by 3
22 is not divisible by 3
49 is not divisible by 3
35 is not divisible by 3
77 is not divisible by 3
46 is not divisible by 3
99 is divisible by 3
81 is divisible by 3

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

######
#### Python has both mutable and immutable collection data types.
### Mutable:
#### Mutable objects in Python can be defined as the objects can be modified or changed after their creation. Example: Lists, Sets, Dictionaries.

In [2]:
cities = ['Delhi', 'Mumbai', 'Kolkata']
print(cities)
print(id(cities))
cities.append('Noida')
print(cities)
print(id(cities))

['Delhi', 'Mumbai', 'Kolkata']
140070225796032
['Delhi', 'Mumbai', 'Kolkata', 'Noida']
140070225796032

#### After appending new value to the list cities we can see the id is same, so there is no changes in storing-location. So we can tell list is mutable.

#####
### Immutable:
#### Immutable objects in Python can be defined as the objects can not be modified or changed after their creation. These objects become permanent once created and initialized. Example: Numbers (Integer, Float, Decimal, Complex & Booleans), Strings, Tuples.

In [6]:
str1="Hello"
print(str1)
print(hex(id(str1)))

str1+=" Python"
print(str1)
print(hex(id(str1)))

Hello
0x7f64a40c60b0
Hello Python
0x7f64a40be3b0

#### Here we can see after string concatination the Python program manager created a new object in the memory address and the variable name ‘str1’ started referencing the new object with the new value 'Hello Python'.

In [7]:
num=(10,20,20)

In [8]:
print(num)

(10, 20, 20)

In [9]:
print(num[2])

20

In [10]:
num[2]=50

TypeError: 'tuple' object does not support item assignment

#### So it shows we can not reassign the idex of the touple with new value. So touple is immutable.