### Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the range of 1 to 25.

#### def keyword is to create a function.

In [4]:
#Example
def my_function():
  print("Hello Pw")

my_function() #function calling

Hello Pw

In [1]:
def findOdd(n):
    """This function is used to a list of odd no of a given range """
    l1=[]
    for i in range(1,n):
        if(i%2==0):
            l1.append(i)
    return(l1)

In [2]:
findOdd(25)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

### Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs to demonstrate their use.

###  *args:
#### In Python *args is used to pass a variable number of arguments to a function.n the function, We should use an asterisk * before the parameter name to pass variable length arguments.
 #### Here passing arguments are non keyword arguments

In [2]:
def add_fun(*no):
    sum = 0
    for n in no:
        sum = sum + n
    return sum

In [7]:
add_fun(10,20,30)

60

In [8]:
add_fun(10,30,50,70)

160

In [9]:
add_fun(10)

10

#### The type of the arguments are touple.

In [12]:
def fun1(*args):
    return args

In [13]:
fun1(1,2,3,4)

(1, 2, 3, 4)

In [14]:
type(fun1())

tuple

#### These passed arguments make tuple inside the function with same name as the parameter excluding asterisk *.

### **kwargs
#### In Python when we want to pass the variable length of keyword arguments to the function we use **kwargs.
####  We use the double asterisk ** before the parameter name to denote this type of argument.
#### When we want to pass a arguments in key value pair then we use **kwargs as parameter.

In [3]:
def kw_fun(**kwargs):
    for key, value in kwargs.items():
        print("%s -> %s" % (key, value))

In [4]:
kw_fun(a='Aneek Saha',b='MCA')

a -> Aneek Saha
b -> MCA

In [5]:
kw_fun(a='Aneek Saha',b='Data Science ',c='PW Skills')

a -> Aneek Saha
b -> Data Science
c -> PW Skills

#### The arguments are passed as a dictionary

In [1]:
def test_kw(**kwargs):
    return kwargs

In [2]:
type(test_kw())

dict

#### These arguments make a dictionary inside function with name same as the parameter excluding double asterisk

### Q3. What is an iterator in python? Name the method used to initialise the iterator object and the method used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14, 16, 18, 20].


### Iterator:
#### An iterator in Python is an object that is used to iterate over iterable objects like lists, tuples, dicts, and sets.

#### -> Iter() method is used to initialize the iterator object.
#### str is iterable . we can make iterable object to iterator using iter() fuction. iter(str) -> str_iterator

#### ->next() method is used for iteration.

In [3]:
l=[2, 4, 6, 8, 10, 12, 14,16, 18, 20]
type(l)

list

In [4]:
l_obj=iter(l)
type(l_obj)

list_iterator

In [20]:
print(next(l_obj))
print(next(l_obj))
print(next(l_obj))
print(next(l_obj))
print(next(l_obj))

2
4
6
8
10

In [9]:
l_obj2=iter(l)
for i in range(5):
    print(next(l_obj2))

2
4
6
8
10

### Q4. What is a generator function in python? Why yield keyword is used? Give an example of a generator function.

#### Python generator functions are use to declare a function that behaves like a an iterator. It returns a inerrable objects. To make a generator function we need to use yield keyword inside it.

#### Yield: The yield is similar to a return statement used for returning value or objects in python. yield keyword is used to create a generator function.

In [10]:
# Example:
def fibo_gen(n):
    a=0
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b

In [2]:
fibo_gen(10)

In [9]:
for i in fibo_gen(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

### Q5. Create a generator function for prime numbers less than 1000. Use the next() method to print the first 20 prime numbers.

In [11]:
def find_prime(n):
    for i in range(2,n):
        flag=False
        for j in range(2,i):
            if i%j==0:
                flag=True
                break
        if flag==False:
            yield i

In [26]:
n1=find_prime(1000)
print(next(n1))
print(next(n1))
print(next(n1))
print(next(n1))
print(next(n1))

print(next(n1))
print(next(n1))
print(next(n1))
print(next(n1))
print(next(n1))

print(next(n1))
print(next(n1))
print(next(n1))
print(next(n1))
print(next(n1))

print(next(n1))
print(next(n1))
print(next(n1))
print(next(n1))
print(next(n1))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

In [12]:
n2=find_prime(1000)
for i in range(20):
    print(next(n2))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

### Q6. Write a python program to print the first 10 Fibonacci numbers using a while loop.

In [28]:
def fibo(n):
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b

In [29]:
n1=fibo(10)

In [30]:
for i in range(10):
    print(next(n1))

0
1
1
2
3
5
8
13
21
34

In [32]:
def fibo(n):
    a,b=0,1
    while(n>0):
        yield a
        a,b=b,a+b
        n-=1

        
        
for i in fibo(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

### Q7. Write a List Comprehension to iterate through the given string: ‘pwskills’.Expected output: ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [45]:
s='pwskills'

newlist=[i for i in s]   # list comprehension

print(newlist)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

### Q8. Write a python program to check whether a given number is Palindrome or not using a while loop.

In [31]:
def pal(n):
    n2=n
    m,s=0,0
    while(n>0):
        m=n%10
        s=s*10+m
        n=n//10
    
    
    if(n2==s):
        print('It is palindrome')
    else:
        print('It is not palindrome')

In [32]:
pal(123)

It is not palindrome

In [33]:
pal(121)

It is palindrome

### Q9. Write a code to print odd numbers from 1 to 100 using list comprehension.
#### Note:Use a list comprehension to create a list from 1 to 100 and use another List comprehension to filter out odd numbers.

In [42]:
l1=[i for i in range(100+1)]

l_iter=iter(l1)

l2=[i for i in l_iter if i%2!=0]

In [43]:
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [44]:
print(l2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]